{% comment %} <!DOCTYPE html>
{% load static %}
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore | Ecommerce Website Design</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="{% static 'images/logo.png' %}" alt="logo" width="125px"></a>
                </div>
                 <nav> 
                    <ul id="MenuItems">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="products.html">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="account.html">Account</a></li>
                    </ul>
                </nav>  
                <nav>
                    <ul id="MenuItems">
                        

                        <li><a href="{% url 'dashboard' %}">Home</a></li>

                        <li><a href="{% url 'products' %}">Products</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li><a href="{% url 'account' %}">Account</a></li>
                    </ul>
                </nav>
                
                <a href="cart.html"><img src="{% static 'images/cart.png' %}" width="30px" height="30px"></a>
                <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>Give Your Workout <br> A New Style!</h1>
                    <p>Success isn't always about greatness. It;s about consistency. Consistent <br> hard work gains
                        success. Greatness will come.</p>
                    <a href="" class="btn">Explore Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="{% static 'images/image1.png' %}">
                </div>
            </div>
        </div>
    </div>

    <!-- Feadtued Categories -->

    <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="{% static 'images/category-1.jpg' %}">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/category-2.jpg' %}">
                </div>
                <div class="col-3">
                    <img src="{% static 'images/category-3.jpg' %}">
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Products -->

    <div class="small-container">
        <h2 class="title">Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="product_details.html"><img src="{% static 'images/product-1.jpg' %}"></a>
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-2.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-3.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-4.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
        <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/product-5.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-6.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-7.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-8.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/product-9.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-10.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-11.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-12.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
    </div>

    <!-- Offer -->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'images/exclusive.png' %}" class="offer-img">
                </div>
                <div class="col-2">
                    <p>Exclusively Available on RedStore</p>
                    <h1>Smart Band 4</h1>
                    <small>The Mi Smart Band 4 fearures a 39.9%larger (than Mi Band 3) AMOLED color full-touch display
                        with adjustable brightness, so everything is clear as can be.<br></small>
                    <a href="products.html" class="btn">Buy Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonial -->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        industry's standard dummy text.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="{% static 'images/user-1.png' %}">
                    <h3>Sean Parker</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        industry's standard dummy text.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="{% static 'images/user-2.png' %}">
                    <h3>Mike Smith</h3>
                </div>
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        industry's standard dummy text.</p>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="{% static 'images/user-3.png' %}">
                    <h3>Mabel Joe</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Brands -->

    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="{% static 'images/logo-godrej.png' %}">
                </div>
                <div class="col-5">
                    <img src="{% static 'images/logo-oppo.png' %}">
                </div>
                <div class="col-5">
                    <img src="{% static 'images/logo-coca-cola.png' %}">
                </div>
                <div class="col-5">
                    <img src="{% static 'images/logo-paypal.png' %}">
                </div>
                <div class="col-5">
                    <img src="{% static 'images/logo-philips.png' %}">
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="{% static 'images/play-store.png' %}">
                        <img src="{% static 'images/app-store.png' %}">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="{% static 'images/logo-white.png' %}">
                    <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.
                    </p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2020 - Samwit Adhikary</p>
        </div>
    </div>

    <!-- javascript -->

    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>

</body>

</html> {% endcomment %}



{% comment %} 

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapunzel's Roots - Premium Hair Oils</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
</head>
<body>
    <header class="bg-light py-3 shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light container">
            <a class="navbar-brand fw-bold" href="#">Rapunzel's Roots</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-primary ms-3" href="cart.html">View Cart</a>
                    </li>
                </ul>
            </div>
            

    <section class="hero-section text-center bg-light py-5">
        <div class="container">
            <h1 class="display-4 fw-bold">Welcome to Rapunzel's Roots</h1>
            <p class="lead">Discover the secret to luscious, healthy hair with our premium natural oils.</p>
            <a href="#products" class="btn btn-primary btn-lg mt-3">Shop Now</a>
        </div>
    </section>

    <section id="products" class="py-5 bg-white">
        <div class="container">
            <h2 class="text-center fw-bold mb-4">Our Best-Selling Hair Oils</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <img src="{% static 'images/coconut_oil.jpg' %}" class="card-img-top" alt="Coconut Hair Oil">
                        <div class="card-body">
                            <h5 class="card-title">Coconut Nourishing Oil</h5>
                            <p class="card-text">Deeply hydrates and strengthens your hair from root to tip.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Buy Now</button>
                                <button class="btn btn-outline-secondary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <img src="{% static 'images/argan_oil.jpg' %}" class="card-img-top" alt="Argan Hair Oil">
                        <div class="card-body">
                            <h5 class="card-title">Argan Repair Oil</h5>
                            <p class="card-text">Rich in antioxidants, perfect for restoring damaged hair.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Buy Now</button>
                                <button class="btn btn-outline-secondary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <img src="{% static 'images/almond_oil.jpg' %}" class="card-img-top" alt="Almond Hair Oil">
                        <div class="card-body">
                            <h5 class="card-title">Almond Growth Oil</h5>
                            <p class="card-text">Packed with nutrients to boost hair growth and shine.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Buy Now</button>
                                <button class="btn btn-outline-secondary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Additional products -->
                <div class="col-md-4 mt-4">
                    <div class="card shadow-sm">
                        <img src="{% static 'images/tea_tree_oil.jpg' %}" class="card-img-top" alt="Tea Tree Hair Oil">
                        <div class="card-body">
                            <h5 class="card-title">Tea Tree Dandruff Control Oil</h5>
                            <p class="card-text">Soothes the scalp and helps reduce dandruff.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Buy Now</button>
                                <button class="btn btn-outline-secondary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-4">
                    <div class="card shadow-sm">
                        <img src="{% static 'images/peppermint_oil.jpg' %}" class="card-img-top" alt="Peppermint Hair Oil">
                        <div class="card-body">
                            <h5 class="card-title">Peppermint Volumizing Oil</h5>
                            <p class="card-text">Stimulates the scalp for thicker, fuller hair.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Buy Now</button>
                                <button class="btn btn-outline-secondary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-4">
                    <div class="card shadow-sm">
                        <img src="{% static 'images/jojoba_oil.jpg' %}" class="card-img-top" alt="Jojoba Hair Oil">
                        <div class="card-body">
                            <h5 class="card-title">Jojoba Moisturizing Oil</h5>
                            <p class="card-text">Balances scalp oils and adds moisture to dry hair.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Buy Now</button>
                                <button class="btn btn-outline-secondary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="py-5 bg-light">
        <div class="container text-center">
            <h2 class="fw-bold">Why Choose Us?</h2>
            <p class="lead mt-3">At Rapunzel's Roots, we believe in harnessing the power of natural ingredients to nurture your hair. Our oils are crafted with care to deliver the best results without harmful chemicals.</p>
        </div>
    </section>

    <section id="contact" class="py-5 bg-white">
        <div class="container text-center">
            <h2 class="fw-bold">Get in Touch</h2>
            <p class="lead mt-3">We’d love to hear from you! Whether you have questions or feedback, drop us a line.</p>
            <a href="mailto:support@rapunzelsroots.com" class="btn btn-outline-primary">Email Us</a>
        </div>
    </section>

    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <p class="mb-0">&copy; 2025 Rapunzel's Roots. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

 {% endcomment %}



<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapunzel's Roots - Premium Hair Oils</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <header style="background-color:rgb(140, 86, 19);">
        <nav class="navbar navbar-expand-lg navbar-light container">
            <a class="navbar-brand fw-bold" href="#">Rapunzel's Roots</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="#products">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="#contact">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link btn btn-outline-danger" href="{% url 'home:logout' %}">Logout</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link btn btn-primary" href="{% url 'home:register' %}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary" href="{% url 'home:login' %}">Login</a>
        </li>
    {% endif %}
                    <li class="nav-item">
                        <a class="btn btn-outline-primary ms-3" href='home:view_cart'>View Cart</a>
                    </li>
                </ul>
                
                
            </div>
        </nav>
    </header>

    <section class="hero-section text-center py-5" style="background-image: url('{% static 'images/oil.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
        <div class="container">
            <h1 class="display-4 fw-bold">Welcome to Rapunzel's Roots</h1>
            <p class="lead">Discover the secret to luscious, healthy hair with our premium natural oils.</p>
            <a href="#products" class="btn btn-primary btn-lg mt-3">Shop Now</a>


        </div>
    </section>

    {% comment %} <section id="products" class="py-5 bg-white">
        <div class="container">
            <h2 class="text-center fw-bold mb-4">Our Best-Selling Hair Oils</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <img src="{% static 'images/coconut_oil.jpg' %}" class="card-img-top" alt="Coconut Hair Oil">
                        <div class="card-body">
                            <h5 class="card-title">Coconut Nourishing Oil</h5>
                            <p class="card-text">Deeply hydrates and strengthens your hair from root to tip.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Buy Now</button>
                                <button class="btn btn-outline-secondary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <img src="{% static 'images/argan_oil.jpg' %}" class="card-img-top" alt="Argan Hair Oil">
                        <div class="card-body">
                            <h5 class="card-title">Argan Repair Oil</h5>
                            <p class="card-text">Rich in antioxidants, perfect for restoring damaged hair.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Buy Now</button>
                                <button class="btn btn-outline-secondary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <img src="{% static 'images/almond_oil.jpg' %}" class="card-img-top" alt="Almond Hair Oil">

                        <div class="card-body">
                            <h5 class="card-title">Almond Growth Oil</h5>
                            <p class="card-text">Packed with nutrients to boost hair growth and shine.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Buy Now</button>
                                <button class="btn btn-outline-secondary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Additional products -->
                <div class="col-md-4 mt-4">
                    <div class="card shadow-sm">
                        <img src="{% static 'images/tea_tree_oil.jpg' %}" class="card-img-top" alt="Tea Tree Hair Oil">
                        <div class="card-body">
                            <h5 class="card-title">Tea Tree Dandruff Control Oil</h5>
                            <p class="card-text">Soothes the scalp and helps reduce dandruff.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Buy Now</button>
                                <button class="btn btn-outline-secondary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-4">
                    <div class="card shadow-sm">
                        <img src="{% static 'images/peppermint_oil.jpg' %}" class="card-img-top" alt="Peppermint Hair Oil">

                        <div class="card-body">
                            <h5 class="card-title">Peppermint Volumizing Oil</h5>
                            <p class="card-text">Stimulates the scalp for thicker, fuller hair.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Buy Now</button>
                                <button class="btn btn-outline-secondary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-4">
                    <div class="card shadow-sm">
                        <img src="{% static 'images/jojoba_oil.jpg' %}" class="card-img-top" alt="Jojoba Hair Oil">
                        <div class="card-body">
                            <h5 class="card-title">Jojoba Moisturizing Oil</h5>
                            <p class="card-text">Balances scalp oils and adds moisture to dry hair.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary">Buy Now</button>
                                <button class="btn btn-outline-secondary">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}

    {% comment %} <section id="products" class="py-5 bg-white">
        <div class="container">
            <h2 class="text-center fw-bold mb-4">Our Best-Selling Hair Oils</h2>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.description }}</p>
                                <p class="text-success fw-bold">Price: ${{ product.price }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'buy_now' product.id %}" class="btn btn-primary">Buy Now</a>
                                    <button class="btn btn-outline-secondary">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-center">No products available at the moment.</p>
                {% endfor %}
            </div>
        </div>
    </section>
     {% endcomment %}
     {% comment %} <section id="products" class="py-5 bg-white">
        <div class="container">
            <h2 class="text-center fw-bold mb-4">Our Best-Selling Hair Oils</h2>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm">
                            <a href="{% url 'home:product_details' product.id %}">
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="text-success fw-bold">Price: ${{ product.price }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="{% url 'home:add_to_cart' product.id %}" class="btn btn-outline-secondary">Add to Cart</a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-center">No products available at the moment.</p>
                {% endfor %}
            </div>
        </div>
    </section> {% endcomment %}

    <section id="products" class="py-5 bg-white">
        <div class="container">
            <h2 class="text-center fw-bold mb-4">Our Best-Selling Hair Oils</h2>
    
            <!-- Display success or warning messages -->
            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
    
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow-sm">
                            <a href="{% url 'home:product_detail' product.id %}">


                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="text-success fw-bold">Price: ${{ product.price }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    {% comment %} {% if user.is_authenticated %}
                                    <a href="{% url 'home:add_to_cart' product.id %}" class="button">Add to Cart</a>
                                {% else %}
                                    <a href="{% url 'login' %}" class="button">Login to Add to Cart</a>
                                {% endif %}
                                 {% endcomment %}
                                
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-center">No products available at the moment.</p>
                {% endfor %}
            </div>
        </div>
    </section>
    
    
    
    <section id="about" class="py-5 bg-light">
        <div class="container text-center">
            <h2 class="fw-bold">Why Choose Us?</h2>
            <p class="lead mt-3">At Rapunzel's Roots, we believe in harnessing the power of natural ingredients to nurture your hair. Our oils are crafted with care to deliver the best results without harmful chemicals.</p>
        </div>
    </section>

    <section id="contact" class="py-5 bg-white">
        <div class="container text-center">
            <h2 class="fw-bold">Get in Touch</h2>
            <p class="lead mt-3">We’d love to hear from you! Whether you have questions or feedback, drop us a line.</p>
            <a href="mailto:support@rapunzelsroots.com" class="btn btn-outline-primary">Email Us</a>
        </div>
    </section>

    <footer class="bg-dark text-white py-4">
        <div class="container text-center">
            <p class="mb-0">&copy; 2025 Rapunzel's Roots. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
